---
import Layout from '../layouts/Layout.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;

---
<Layout title={title}>
    <div class="container mx-auto flex max-w-7xl items-center justify-between ">			
        <slot />
    </div>
</Layout>