<header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex flex-1">
        <div class="flex gap-x-12">
          <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
          <a href="/baseball/" class="text-sm font-semibold leading-6 text-gray-900">Baseball</a>
          <a href="/claims/" class="text-sm font-semibold leading-6 text-gray-900">Claims</a>
        </div>
      </div>
      <div class="flex flex-1 justify-end">
        <a href="https://agramont.net/blog/" target="_blank" class="text-sm font-semibold leading-6 text-gray-900">Documentation <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>    
</header>
  